// Переменные для шрифтов
$font-accent: "Times New Roman", Times, serif;
$font-default: "Roboto", Arial, Helvetica, sans-serif;


// Переменные для цвета
$accent: #ff1053;
$blue: #01d4e9;
$text: #6c6ea0;
$grey: #c1cad6;
$white: #fbfbfb;


// Прочие переменные
$slowdown: all 0.3s ease;