@import 'vars';
@import 'mixins';


::placeholder {
  color: $grey;
}
  
::selection {
  background-color: $accent;
  color: #fff;
}
  
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}
  
body{
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.2;
  color: $text;
  
  input, textarea {
    border: #666 1px solid;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}
  
.btn-wrap {
  width: 300px;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent;
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.35);
  transition: $slowdown;
  cursor: pointer;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: lighten($accent, 10%);
  }

  &:active {
    transform: scale(0.95) translateY(3px);
  }
}
   
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}
  
.title-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
  
.text-accent {
  color: $accent;
}

.text-black {
  font-weight: 900;
}

.text-up {
  text-transform: uppercase;
}
  
.text-nowrap {
  white-space: nowrap;
}

@import 'animation';
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @include desktop {
    max-width: 960px;
  }

  @include laptop {
    max-width: 760px;
    padding: 0 10px;
  }

  @include tablets {
    max-width: 540px;
  }

  @include phones {
    max-width: 320px;
  }
}

.section {
  padding: 45px 0;
}


/* top */
.top {
  position: relative;
  height: 720px;
  padding: 40px 0;
  background-image: url(../img/top-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#27295e, 0.75);
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, #1b1d53, rgba(#27295e, 0.01));
  }

  &__wrap {
    position: relative;
    z-index: 1;
    width: 50%;
  }

  &__space {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 52px;
    line-height: 1;
    color: $white;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 30px;
    color: $blue;
  }
}

.space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  padding: 15px 20px;
  line-height: 1;
  color: $white;
  text-align: center;
  background-color: $blue;
  border-radius: 50%;
  border-top-left-radius: 0;

  &__top {
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__count {
    font-weight: 900;
    font-size: 66px;
    margin-bottom: -5px;
  }

  &__bottom {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }
}


/* steps */
.steps {
  position: relative;
  background-color: $white;
  background-image: url(../img/steps-bg.png);
  background-position: 90% center;
  background-size: contain;
  background-repeat: no-repeat;

  &__lst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include lst;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-top: -80px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 10px 4px rgba(0,0,0,0.04);

    svg {
      width: 85px;
      height: 85px;
      fill: $grey;

      &.small {
        width: 70px;
        height: 70px;
      }
    }
  }

  &__number {
    font-weight: 900;
    font-size: 30px;
    color: $accent;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
  }
}


/* cases */
.cases {
  padding: 60px 0;

  &__title {
    position: relative;
    font-weight: 900;
    font-size: 48px;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      bottom: -20%;
      left: 0;
      width: 100%;
      height: 160%;
      background: linear-gradient(to top, #ffffff, rgba(#ffffff, 0.01));
    }
  }

  &__wrap {
    position: relative;
  }

  &__block {

    &_image {
      padding: 50px;
    }

    &_list {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #fcfcfc;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 560px;
      height: 560px;
      border: 2px dashed #edeff1;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: #f6f7f7;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 470px;
      height: 470px;
      border: 1px solid #d3d8db;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    position: absolute;
    top: -35px;
    right: -22px;
    z-index: 1;
    width: 400px;
    height: 410px;

  }

  &__lst {
    @include lst;
  }

  &__item {
    position: absolute;
    width: 220px;
    left: 0;
    text-align: right;

    &::before {
      content: '';
      position: absolute;
      right: -45px;
      top: 50%;
      width: 20px;
      height: 20px;
      background-color: $accent;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &_inverse {
      text-align: left;
      left: auto;
      right: 0;

      &::before {
        left: -45px;
      }
    }

    &:nth-child(1) {
      top: 16%;
      left: 10%;
    }

    &:nth-child(2) {
      top: 32%;
      left: 5%;
    }

    &:nth-child(3) {
      top: 50%;
      left: 4%;
    }

    &:nth-child(4) {
      top: 68%;
      left: 7%;
    }

    &:nth-child(5) {
      top: 15%;
      right: 10%;
    }

    &:nth-child(6) {
      top: 33%;
      right: 5%;
    }

    &:nth-child(7) {
      top: 55%;
      right: 5%;
    }

    &:nth-child(8) {
      top: 70%;
      right: 8%;
    }
  }
}

/* action */
.action {
  padding-top: 60px;
  text-align: center;
  background-color: #6c6ea0;
  background-image: url(../img/action-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    color: $white;
    text-transform: uppercase;
  }

  &__doc {
    margin-bottom: 20px;
    color: $blue;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    color: $blue;
  }
}

.form {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 60px 50px;
    background-color: #ffffff;
    border-radius: 130px;
    border-top-left-radius: 0;
  }

  &__field-wrap {
    position: relative;
    width: 220px;
    background-color: #f6f7f7;
    border: 2px solid #f6f7f7;
    border-radius: 30px;

    span {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 18px;
      color: $grey;
      opacity: 0;
      transform: translateY(-50%);
      transition: $slowdown;
    }

    &.focus {
      border: 2px solid #c1cad6;
    }
  }

  &__field {
    width: 220px;
    padding: 18px 30px;
    line-height: 1;
    color: $text;
    background-color: #f6f7f7;
    border: 2px solid #f6f7f7;
    border-radius: 30px;

    &:focus {
      border: 2px solid #c1cad6;
    }

    &_age {
      width: 100%;
      height: 100%;
      padding-right: 60px;
      
      &:focus {
        border: 2px solid #f6f7f7;

        & + span {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    width: 260px;
  }

  &__checkbox {
    position: relative;
    display: block;
    width: 340px;
    margin: 30px auto 20px;
    padding-left: 25px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  
    &_default {
      display: none;
  
      &:checked + .form__checkbox_new {
        svg {
          display: block;
        } 
      }
    }
      
    &_new {
      position: absolute;
      left: 0;
      top: -2px;
      width: 22px;
      height: 22px;
      margin-right: 7px;
      background-color: #ffffff;
      border-radius: 3px;
  
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        display: none;
        width: 15px;
        height: 15px;
        fill: $accent;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__note {
    line-height: 1.1;
    color: $white;
  }
}

/* contraindications */
.contraindications {

  &__lst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include lst;
    text-align: center;
  }

  &__item {
    font-size: 16px;
    line-height: 1.1;
  }
}


/* footer */
.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: #c1cad6;

  &__wrap {
    font-size: 16px;
    color: $text;
    text-align: center;
  
    p {
      margin-bottom: 15px;
      line-height: 1.2;
    }
  
    a {
      color: $text;
      transition: all 0.3s ease;
  
      &:hover {
        color: darken($text, 15%);
        text-decoration: underline;
      }
    }
  }
}
