@font-face {
  font-family: Roboto-D;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto-Bold.eot);
  src: url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Bold.woff) format("woff"),url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto-D;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Regular.woff) format("woff"),url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto-D;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/Roboto-Italic.eot);
  src: url(../fonts/Roboto-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Italic.woff) format("woff"),url(../fonts/Roboto-Italic.woff2) format("woff2");
  font-display: swap
}
::-webkit-input-placeholder {
  color: #c1cad6
}
::-moz-placeholder {
  color: #c1cad6
}
:-ms-input-placeholder {
  color: #c1cad6
}
::-ms-input-placeholder {
  color: #c1cad6
}
::placeholder {
  color: #c1cad6
}
::-moz-selection {
  background-color: #ff1053;
  color: #fff
}
::selection {
  background-color: #ff1053;
  color: #fff
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.2;
  color: #6c6ea0
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.btn {
  display: block;
  width: 300px;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff1053;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 18px 0 rgba(0,0,0,.35);
  box-shadow: 4px 4px 18px 0 rgba(0,0,0,.35);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff4378
}
.btn:active {
  -webkit-transform: scale(.95) translateY(3px);
  -ms-transform: scale(.95) translateY(3px);
  transform: scale(.95) translateY(3px)
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase
}
.text-accent {
  color: #ff1053
}
.text-black {
  font-weight: 900
}
.text-up {
  text-transform: uppercase
}
.text-nowrap {
  white-space: nowrap
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 10px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
.section {
  padding: 45px 0
}
.top {
  position: relative;
  height: 720px;
  padding: 40px 0;
  background-image: url(../img/top-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat
}
.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39,41,94,.75)
}
.top::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear,left bottom,left top,from(#1b1d53),to(rgba(39,41,94,.01)));
  background: -o-linear-gradient(bottom,#1b1d53,rgba(39,41,94,.01));
  background: linear-gradient(to top,#1b1d53,rgba(39,41,94,.01))
}
.top__wrap {
  position: relative;
  z-index: 1;
  width: 50%
}
.top__space {
  margin-bottom: 40px
}
.top__subtitle {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 52px;
  line-height: 1;
  color: #fbfbfb
}
.top__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  color: #01d4e9
}
.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 145px;
  height: 145px;
  padding: 15px 20px;
  line-height: 1;
  color: #fbfbfb;
  text-align: center;
  background-color: #01d4e9;
  border-radius: 50%;
  border-top-left-radius: 0
}
.space__top {
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase
}
.space__count {
  font-weight: 900;
  font-size: 66px;
  margin-bottom: -5px
}
.space__bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2
}
.steps {
  position: relative;
  background-color: #fbfbfb;
  background-image: url(../img/steps-bg.png);
  background-position: 90% center;
  background-size: contain;
  background-repeat: no-repeat
}
.steps__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none
}
.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  margin-top: -80px;
  margin-bottom: 30px;
  text-align: center
}
.steps__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 10px 4px rgba(0,0,0,.04);
  box-shadow: 0 4px 10px 4px rgba(0,0,0,.04)
}
.steps__icon svg {
  width: 85px;
  height: 85px;
  fill: #c1cad6
}
.steps__icon svg.small {
  width: 70px;
  height: 70px
}
.steps__number {
  font-weight: 900;
  font-size: 30px;
  color: #ff1053
}
.steps__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1
}
.action {
  padding-top: 60px;
  text-align: center;
  background-color: #6c6ea0;
  background-image: url(../img/action-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat
}
.action__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 36px;
  color: #fbfbfb;
  text-transform: uppercase
}
.action__doc {
  margin-bottom: 20px;
  color: #01d4e9
}
.action__subtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  color: #01d4e9
}
.form {
  width: 1080px;
  margin: 0 auto;
  text-align: center
}
.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 50px;
  background-color: #fff;
  border-radius: 130px;
  border-top-left-radius: 0
}
.form__field-wrap {
  position: relative;
  width: 220px;
  background-color: #f6f7f7;
  border: 2px solid #f6f7f7;
  border-radius: 30px
}
.form__field-wrap span {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  color: #c1cad6;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.form__field-wrap.focus {
  border: 2px solid #c1cad6
}
.form__field {
  width: 220px;
  padding: 18px 30px;
  line-height: 1;
  color: #6c6ea0;
  background-color: #f6f7f7;
  border: 2px solid #f6f7f7;
  border-radius: 30px
}
.form__field:focus {
  border: 2px solid #c1cad6
}
.form__field_age {
  width: 100%;
  height: 100%;
  padding-right: 60px
}
.form__field_age:focus {
  border: 2px solid #f6f7f7
}
.form__field_age:focus + span {
  opacity: 1
}
.form__btn {
  width: 260px
}
.form__checkbox {
  position: relative;
  display: block;
  width: 340px;
  margin: 30px auto 20px;
  padding-left: 25px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer
}
.form__checkbox_default {
  display: none
}
.form__checkbox_default:checked + .form__checkbox_new svg {
  display: block
}
.form__checkbox_new {
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  background-color: #fff;
  border-radius: 3px
}
.form__checkbox_new svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 15px;
  height: 15px;
  fill: #ff1053;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.form__note {
  line-height: 1.1;
  color: #fbfbfb
}
.contraindications__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center
}
.contraindications__item {
  font-size: 16px;
  line-height: 1.1
}
.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: #c1cad6
}
.footer__wrap {
  font-size: 16px;
  color: #6c6ea0;
  text-align: center
}
.footer__wrap p {
  margin-bottom: 15px;
  line-height: 1.2
}
.footer__wrap a {
  color: #6c6ea0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.footer__wrap a:hover {
  color: #4b4d74;
  text-decoration: underline
}
/*# sourceMappingURL=main.css.map */
