::-webkit-input-placeholder {
  color: #c1cad6
}
::-moz-placeholder {
  color: #c1cad6
}
:-ms-input-placeholder {
  color: #c1cad6
}
::-ms-input-placeholder {
  color: #c1cad6
}
::placeholder {
  color: #c1cad6
}
::-moz-selection {
  background-color: #ff1053;
  color: #fff
}
::selection {
  background-color: #ff1053;
  color: #fff
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.2;
  color: #6c6ea0
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.btn-wrap {
  width: 300px
}
@media screen and (max-width:576px) {
  .btn-wrap {
    width: 290px
  }
}
.btn {
  display: block;
  width: 100%;
  padding: 20px 50px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff1053;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 18px 0 rgba(0,0,0,.35);
  box-shadow: 4px 4px 18px 0 rgba(0,0,0,.35);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff4378
}
.btn:active {
  -webkit-transform: scale(.95) translateY(3px);
  -ms-transform: scale(.95) translateY(3px);
  transform: scale(.95) translateY(3px)
}
@media screen and (max-width:576px) {
  .btn {
    padding: 17px 30px
  }
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase
}
.text-accent {
  color: #ff1053
}
.text-black {
  font-weight: 900
}
.text-up {
  text-transform: uppercase
}
.text-nowrap {
  white-space: nowrap
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 10px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
.section {
  padding: 45px 0
}
.top {
  position: relative;
  height: 720px;
  padding: 40px 0;
  background-color: #dee3e7;
  background-image: url(../img/top-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat
}
.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(39,41,94,.75)
}
.top::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear,left bottom,left top,from(#1b1d53),to(rgba(39,41,94,.01)));
  background: -o-linear-gradient(bottom,#1b1d53,rgba(39,41,94,.01));
  background: linear-gradient(to top,#1b1d53,rgba(39,41,94,.01))
}
.top__wrap {
  position: relative;
  z-index: 1;
  width: 50%
}
.top__space {
  margin-bottom: 40px
}
.top__subtitle {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 52px;
  line-height: 1;
  color: #fbfbfb
}
.top__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 30px;
  color: #01d4e9
}
@media screen and (max-width:992px) {
  .top__wrap {
    width: 100%
  }
}
@media screen and (max-width:768px) {
  .top {
    height: auto;
    padding-bottom: 170px;
    background-position: center bottom;
    background-size: 660px
  }
  .top::after {
    height: 25%
  }
  .top__wrap {
    padding-bottom: 180px
  }
  .top__subtitle {
    margin-bottom: 30px;
    font-size: 44px
  }
  .top__title {
    font-size: 26px
  }
  .top__space {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0
  }
}
@media screen and (max-width:576px) {
  .top {
    background-size: 650px;
    background-position: 60% bottom
  }
  .top__subtitle {
    margin-bottom: 20px;
    font-size: 38px
  }
  .top__title {
    font-size: 22px
  }
  .top__wrap {
    padding-bottom: 180px
  }
}
.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 145px;
  height: 145px;
  padding: 15px 20px;
  line-height: 1;
  color: #fbfbfb;
  text-align: center;
  background-color: #01d4e9;
  border-radius: 50%;
  border-top-left-radius: 0
}
.space__top {
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase
}
.space__count {
  font-weight: 900;
  font-size: 66px;
  margin-bottom: -5px
}
.space__bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2
}
.steps {
  position: relative;
  background-color: #fbfbfb;
  background-image: url(../img/steps-bg.png);
  background-position: 90% center;
  background-size: contain;
  background-repeat: no-repeat
}
.steps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.steps__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -80px
}
.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  margin-bottom: 30px;
  text-align: center
}
.steps__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 10px 4px rgba(0,0,0,.04);
  box-shadow: 0 4px 10px 4px rgba(0,0,0,.04)
}
.steps__icon svg {
  width: 85px;
  height: 85px;
  fill: #c1cad6
}
.steps__icon svg.small {
  width: 70px;
  height: 70px
}
.steps__number {
  font-weight: 900;
  font-size: 30px;
  color: #ff1053
}
.steps__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1
}
.steps__btn-wrap {
  display: none;
  margin: 0 auto
}
@media screen and (max-width:1200px) {
  .steps__lst {
    margin-top: -70px
  }
  .steps__icon {
    width: 150px;
    height: 150px
  }
  .steps__icon svg {
    width: 70px;
    height: 70px
  }
  .steps__icon svg.small {
    width: 60px;
    height: 60px
  }
}
@media screen and (max-width:992px) {
  .steps {
    padding-bottom: 50px
  }
  .steps__lst {
    margin-top: -60px
  }
  .steps__item {
    width: 260px;
    margin-top: 0;
    margin-bottom: 30px
  }
  .steps__btn-wrap {
    display: block
  }
}
@media screen and (max-width:768px) {
  .steps__lst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .steps__item {
    width: 100%
  }
}
@media screen and (max-width:576px) {
  .steps {
    background: 0 0;
    background-color: #fbfbfb
  }
}
.cases {
  padding: 60px 0
}
.cases__title {
  position: relative;
  font-weight: 900;
  font-size: 48px;
  text-align: center
}
.cases__title::before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 160%;
  background: -webkit-gradient(linear,left bottom,left top,from(#fff),to(rgba(255,255,255,.01)));
  background: -o-linear-gradient(bottom,#fff,rgba(255,255,255,.01));
  background: linear-gradient(to top,#fff,rgba(255,255,255,.01))
}
.cases__wrap {
  position: relative
}
.cases__block_image {
  padding: 50px
}
.cases__block_list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%
}
.cases__inner {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 50%
}
.cases__inner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 560px;
  height: 560px;
  border: 2px dashed #edeff1;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.cases__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background-color: #f6f7f7;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.cases__image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 470px;
  height: 470px;
  border: 1px solid #d3d8db;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.cases__img {
  position: absolute;
  top: -35px;
  right: -22px;
  z-index: 1;
  width: 400px;
  height: 410px
}
.cases__lst {
  margin: 0;
  padding: 0;
  list-style: none
}
.cases__item {
  position: absolute;
  width: 220px;
  left: 0;
  text-align: right
}
.cases__item::before {
  content: '';
  position: absolute;
  right: -45px;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff1053;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.cases__item_inverse {
  text-align: left;
  left: auto;
  right: 0
}
.cases__item_inverse::before {
  left: -45px
}
.cases__item:nth-child(1) {
  top: 16%;
  left: 10%
}
.cases__item:nth-child(2) {
  top: 32%;
  left: 5%
}
.cases__item:nth-child(3) {
  top: 50%;
  left: 4%
}
.cases__item:nth-child(4) {
  top: 68%;
  left: 7%
}
.cases__item:nth-child(5) {
  top: 15%;
  right: 10%
}
.cases__item:nth-child(6) {
  top: 33%;
  right: 5%
}
.cases__item:nth-child(7) {
  top: 55%;
  right: 5%
}
.cases__item:nth-child(8) {
  top: 70%;
  right: 8%
}
@media screen and (max-width:1200px) {
  .cases__inner {
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75)
  }
  .cases__item:nth-child(1) {
    left: 12%
  }
  .cases__item:nth-child(2) {
    left: 2%
  }
  .cases__item:nth-child(3) {
    left: 0
  }
  .cases__item:nth-child(4) {
    left: 5%
  }
  .cases__item:nth-child(5) {
    right: 11%
  }
  .cases__item:nth-child(6) {
    right: 1%
  }
  .cases__item:nth-child(7) {
    right: 1%
  }
  .cases__item:nth-child(8) {
    right: 7%
  }
}
@media screen and (max-width:992px) {
  .cases__block_image {
    padding: 0
  }
  .cases__block_list {
    position: static;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%
  }
  .cases__lst {
    width: 360px;
    margin: 0 auto
  }
  .cases__item {
    position: static;
    width: auto;
    margin-bottom: 15px;
    padding-left: 20px;
    text-align: left
  }
  .cases__item::before {
    content: '';
    position: absolute;
    right: auto;
    left: 0;
    top: 4px;
    width: 12px;
    height: 12px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
  .cases__item_inverse {
    text-align: left;
    left: auto;
    right: 0
  }
  .cases__item_inverse::before {
    left: 0
  }
}
@media screen and (max-width:768px) {
  .cases__title {
    font-size: 36px
  }
}
@media screen and (max-width:576px) {
  .cases {
    padding: 30px 0
  }
  .cases__block_image {
    position: relative;
    height: 400px
  }
  .cases__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(.6);
    -ms-transform: translate(-50%,-50%) scale(.6);
    transform: translate(-50%,-50%) scale(.6)
  }
  .cases__lst {
    width: 100%
  }
}
.action {
  padding-top: 60px;
  text-align: center;
  background-color: #6c6ea0;
  background-image: url(../img/action-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat
}
.action__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 36px;
  color: #fbfbfb;
  text-transform: uppercase
}
.action__doc {
  margin-bottom: 20px;
  color: #01d4e9
}
.action__subtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  color: #01d4e9
}
@media screen and (max-width:768px) {
  .action__title {
    font-size: 30px
  }
  .action__doc {
    margin-bottom: 15px;
    color: #01d4e9
  }
  .action__doc br {
    display: none
  }
  .action__subtitle {
    margin-bottom: 30px;
    font-size: 23px
  }
}
.form {
  width: 1080px;
  margin: 0 auto;
  text-align: center
}
.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 50px;
  background-color: #fff;
  border-radius: 130px;
  border-top-left-radius: 0
}
.form__field-wrap {
  position: relative;
  width: 220px;
  background-color: #f6f7f7;
  border: 2px solid #f6f7f7;
  border-radius: 30px
}
.form__field-wrap span {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  color: #c1cad6;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.form__field-wrap.focus {
  border: 2px solid #c1cad6
}
.form__field {
  width: 220px;
  padding: 18px 30px;
  line-height: 1;
  color: #6c6ea0;
  background-color: #f6f7f7;
  border: 2px solid #f6f7f7;
  border-radius: 30px
}
.form__field:focus {
  border: 2px solid #c1cad6
}
.form__field_age {
  width: 100%;
  height: 100%;
  padding-right: 60px
}
.form__field_age:focus {
  border: 2px solid #f6f7f7
}
.form__field_age:focus + span {
  opacity: 1
}
.form__btn {
  width: 260px
}
.form__checkbox {
  position: relative;
  display: block;
  width: 340px;
  margin: 30px auto 20px;
  padding-left: 25px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer
}
.form__checkbox_default {
  display: none
}
.form__checkbox_default:checked + .form__checkbox_new svg {
  display: block
}
.form__checkbox_new {
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  background-color: #fff;
  border-radius: 3px
}
.form__checkbox_new svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 15px;
  height: 15px;
  fill: #ff1053;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.form__note {
  line-height: 1.1;
  color: #fbfbfb
}
@media screen and (max-width:1200px) {
  .form {
    width: 100%
  }
  .form__btn,
  .form__field,
  .form__field-wrap {
    width: 24%
  }
  .form__field_age {
    width: 100%
  }
  .form__btn {
    padding: 20px
  }
}
@media screen and (max-width:992px) {
  .form__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
    padding: 50px 40px;
    border-radius: 70px;
    border-top-left-radius: 0
  }
  .form__btn,
  .form__field,
  .form__field-wrap {
    width: 100%
  }
  .form__field,
  .form__field-wrap {
    margin-bottom: 15px
  }
  .form__field_age {
    margin-bottom: 0
  }
}
@media screen and (max-width:992px) {
  .form__wrap {
    width: 100%;
    padding: 40px 30px;
    border-radius: 50px;
    border-top-left-radius: 0
  }
}
.contraindications__lst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center
}
.contraindications__item {
  font-size: 16px;
  line-height: 1.1
}
.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: #c1cad6
}
.footer__wrap {
  font-size: 16px;
  color: #6c6ea0;
  text-align: center
}
.footer__wrap p {
  margin-bottom: 15px;
  line-height: 1.2
}
.footer__wrap a {
  color: #6c6ea0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.footer__wrap a:hover {
  color: #4b4d74;
  text-decoration: underline
}
/*# sourceMappingURL=main.css.map */
