section.cases
  .container
    .cases__title Диагностика поможет:
    .cases__wrap
      .cases__block.cases__block_image
        .cases__inner
          .cases__image
            +image('/', 'case_image', 'Фото человека с болью в спине', 'Диагностика поможет', 'png')(class="cases__img")
      
      .cases__block.cases__block_list
        ul.cases__lst
          li.cases__item Определить нарушения подвижности позвонков;
          li.cases__item Проанализировать рефлексы;
          li.cases__item Выявить<br> смещения позвонков;
          li.cases__item Обнаружить<br> нарушения иннервации мышц суставов;
          li.cases__item.cases__item_inverse Диагностировать искривление позвоночника, сколиоз, остеохондроз;
          li.cases__item.cases__item_inverse Диагностировать<br> протрузии и грыжи межпозвонковых дисков;
          li.cases__item.cases__item_inverse Определить<br> мышечные напряжения;
          li.cases__item.cases__item_inverse Определить места патологического напряжения мышц