section.section.contraindications
  .container
    h3.title-text ПРОТИВОПОКАЗАНИЯ:
    ul.contraindications__lst
      li.contraindications__item Беременность
      li.contraindications__item Лактация
      li.contraindications__item Сахарный диабет (инсулинозависимый)
      li.contraindications__item Онкологические заболевания