footer.footer
  .container
    .footer__wrap
      p ООО «Мед Арт»<br>
        | Адрес: 119017, г. Москва, ул. Малая Ордынка, дом 3, помещение III, комната 1<br>
        | ИНН/КПП: 9705127531 / 770501001<br>
        | ОГРН: 1197746063558<br>
        | Лицензия № ЛО-77-01-018724 от 10 сентября 2019 года
      p
        a(href="/") Политика конфиденциальности<br>
        a(href="/") Пользовательское соглашение<br>
        a(href="/") Согласие на обработку персональных данных
      p * Количество акционных мест ограничено и может отличаться от указанного в описании акции.<br> **Имеются противопоказания, необходимо проконсультироваться со специалистом (врачом).<br> Реклама. Не является публичной офертой.

script(src="./js/scripts.min.js")
script(src="./js/main.js")