section.steps
  .container
    ul.steps__lst
      li.steps__item
        .steps__icon
          +svg('fast')
        span.steps__number 1.
        p.steps__name Быстрая запись к доктору
      li.steps__item
        .steps__icon
          +svg('man').small
        span.steps__number 2.
        p.steps__name Осмотр профильным специалистом
      li.steps__item
        .steps__icon
          +svg('x-ray')
        span.steps__number 3.
        p.steps__name Оперативная диагностика
      li.steps__item
        .steps__icon
          +svg('spine').small
        span.steps__number 4.
        p.steps__name Консультация по восстановлению подвижности спины
      