section.top
  .container
    .top__wrap
      .top__space.space
        span.space__top Осталось
        span.space__count 15
        span.space__bottom бесплатных диагностик
      p.top__subtitle Хотите жить<br> активно и без<br> боли в спине?
      h1.top__title Комплексная диагностика<br> позвоночника за 1 день
      button.btn.top__btn Записаться

