include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body

    include blocks/top.pug
    include blocks/steps.pug
    include blocks/cases.pug
    include blocks/action.pug
    include blocks/contraindications.pug

    include blocks/footer.pug`